In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,La Ronge,CA,2022-04-30 16:16:20,55.1001,-105.2842,35.82,86,100,5.75
1,1,Hailar,CN,2022-04-30 16:16:21,49.2000,119.7000,34.09,39,11,6.15
2,2,Clyde River,CA,2022-04-30 16:16:21,70.4692,-68.5914,16.03,79,100,3.44
3,3,Bredasdorp,ZA,2022-04-30 16:16:21,-34.5322,20.0403,61.00,65,17,7.94
4,4,Mount Gambier,AU,2022-04-30 16:16:22,-37.8333,140.7667,53.51,94,40,11.50

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the latitude and longitude. 
locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get clouds of locations 
cloudiness = city_data_df["Cloudiness"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get wind speed of locations 
wind = city_data_df["Wind Speed"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df  = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Cabo San Lucas,MX,2022-04-30 16:13:12,22.8909,-109.9124,81.61,52,0,4.61
8,8,Hithadhoo,MV,2022-04-30 16:16:23,-0.6000,73.0833,85.80,68,72,15.37
13,13,Avarua,CK,2022-04-30 16:16:25,-21.2078,-159.7750,77.05,88,40,6.91
16,16,Atuona,PF,2022-04-30 16:13:04,-9.8000,-139.0333,78.04,77,46,13.11
18,18,Arraial Do Cabo,BR,2022-04-30 16:16:26,-22.9661,-42.0278,78.76,78,75,9.22
20,20,Zabid,YE,2022-04-30 16:16:27,14.1951,43.3152,83.64,51,82,19.26
21,21,Rikitea,PF,2022-04-30 16:13:07,-23.1203,-134.9692,75.78,77,56,13.42
23,23,Da Nang,VN,2022-04-30 16:14:46,16.0678,108.2208,80.58,89,40,1.14
28,28,Wichita Falls,US,2022-04-30 16:11:35,33.9137,-98.4934,75.25,30,0,21.85
31,31,Dhidhdhoo,MV,2022-04-30 16:16:30,6.8833,73.1000,86.18,73,100,10.74

In [11]:
preferred_cities_df.count()

City_ID       178
City          178
Country       175
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7    Cabo San Lucas      MX     81.61  22.8909 -109.9124
8         Hithadhoo      MV     85.80  -0.6000   73.0833
13           Avarua      CK     77.05 -21.2078 -159.7750
16           Atuona      PF     78.04  -9.8000 -139.0333
18  Arraial Do Cabo      BR     78.76 -22.9661  -42.0278
20            Zabid      YE     83.64  14.1951   43.3152
21          Rikitea      PF     75.78 -23.1203 -134.9692
23          Da Nang      VN     80.58  16.0678  108.2208
28    Wichita Falls      US     75.25  33.9137  -98.4934
31        Dhidhdhoo      MV     86.18   6.8833   73.1000

In [14]:
# Set parameters to search for hotels in each location
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Cabo San Lucas,MX,81.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
8,Hithadhoo,MV,85.80,-0.6000,73.0833,Scoop Guest House
13,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
16,Atuona,PF,78.04,-9.8000,-139.0333,Villa Enata
18,Arraial Do Cabo,BR,78.76,-22.9661,-42.0278,Pousada Porto Praia
...,...,...,...,...,...,...
554,Tiznit,MA,78.22,29.5833,-9.5000,
555,Sinnamary,GF,83.17,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
557,Ayutla,MX,80.92,20.1167,-104.3333,Hotel Principal
558,Sibut,CF,89.28,5.7180,19.0739,
560,Khorixas,NaN,85.15,-20.3667,14.9667,Khorixas Lodge

In [20]:
# Add info box to marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Get locations 
locations = hotel_df[["Lat","Lng"]]

# Get temperatures of locations 
max_temp = hotel_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Create a location marker layer 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Combine layers to figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))